body > header {
  background-color: #5BC0DE;
}

header > h1 {
  display:inline;
}

header > nav {
  display:inline;
}

.header-styling {
  color: #FFFFFF;
}

header > img {
  width: 30%;
}

main > section {
  border: 1px solid #E0E0E0;
  width: 30%;
  float: left;
  box-sizing: border-box;
}

main {
  padding-left: 17%;
}

section > section {
  border-top: 1px solid #E0E0E0;
}

main > section > header, main > section > section {
  padding: 10px;
}


/*
main > section {
  border-top: 1px solid #E0E0E0;
}

section > section {
  border: 1px solid #E0E0E0;
}

section > header {
  border: 1px solid #E0E0E0;
}*/
