body > header {
  background-color: #5BC0DE;
}

header > h1 {
  display:inline;
}

header > nav {
  display:inline;
}

.header-styling {
  color: #FFFFFF;
}

header > img {
  width: 30%;
}

main > section {
  border: 1px solid #E0E0E0;
  width: 300px;
  float: left;
  box-sizing: border-box;
  margin: 1em;
}

main {
  padding-left: 11%;
}

section > section {
  border-top: 1px solid #E0E0E0;
}

main > section > header, main > section > section {
  padding: 10px;
  clear: both;
}

img {
  float: left;
}

main > section > header > aside {
  float: left;
}

main > section > section :first-child {
  float: left;
}

main > section > section :not(:first-child) {
  float:right;
}

/* below section caused img to float but increased height of "david" */
/*
img {
  float: left;
  margin-right: 10px;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  /*padding-top: 0;
}*/

/*
main > section {
  border-top: 1px solid #E0E0E0;
}

section > section {
  border: 1px solid #E0E0E0;
}

section > header {
  border: 1px solid #E0E0E0;
}*/
